[Unit]
Description=Enable jetson_clocks with with the config in ~/frc/

[Service]
Type=simple
User=frc
Group=admin
ExecStart=/bin/jetson_clocks --config ~/frc/clocks.conf # I don't think this is right
TimeoutStartSec=0
RemainAfterExit=yes

[Install]
WantedBy=default.target
