host = aarch64-linux-gnu
toolchain = /usr/$host

[settings]
os=Linux
arch=armv8
compiler=gcc
compiler.version=7.3
compiler.libcxx=libstdc++11
build_type=Release

[options]
#opencv:with_cuda=True
#opencv:with_cublas=True
#opencv:with_cufft=True
#opencv:with_cudnn=True

[env]
CONAN_RUN_TEST=False
CONAN_CMAKE_GENERATOR=Ninja
CONAN_CPU_COUNT={{os.cpu_count()}}
PKG_CONFIG_PATH=builddir/conan
CONAN_CMAKE_FIND_ROOT_PATH=$toolchain
CHOST=$host
AR=$host-ar
AS=$host-as
RANLIB=$host-ranlib
CC=$host-gcc
CXX=$host-g++
STRIP=$host-strip
RC=$host-windres
