[Unit]
Description=Ratchet Rockers Vision Solution
BindsTo=dev-video0-device
After=dev-video0.device

[Service]
Type=simple
User=frc
Group=admin
ExecStart=/usr/local/bin/vision
TimeoutStartSec=0
RemainAfterExit=yes

[Install]
WantedBy=default.target
